*{
    padding: 0;
    margin: 0;
  }
.cai{
    margin: 50px auto 0;
    position: relative;
    width: 400px;
    perspective: 600px;             /* 父元素添加透视，使获得3D旋转效果 */
}
.left,.right{
    width: 200px;
    height: 300px;
    background: red;
}
.left{
    position: absolute;
    left: 0;
    top: 0;
    transition:all 0.2s;            /* 未所有变形添加过渡，完成整个变形需要0.2s */
    transform-origin: left;         /* 将翻转的基线设为左 */
}
.right{
    position: absolute;
    left: 200px;
    top: 0;  
    transition:all 0.2s;            /* 未所有变形添加过渡，完成整个变形需要0.2s */
    transform-origin: right;        /* 将翻转的基线设为左 */
}
.cai:hover .left{
    transform: rotateY(-135deg);    /* 鼠标经过.cai时.left以Y轴向左翻转135度 */
}
.cai:hover .right{
    transform: rotateY(135deg);     /* 鼠标经过.cai时.right以Y轴向右翻转135度 */
}

/* 鸣人和雏田 */
.huoying{
    width: 400px;
    height: 250px;
    position: relative;
    margin: 50px auto 0;
    perspective: 600px;             /* 父元素添加透视，使获得3D旋转效果 */
}
.naruto{
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s;           /* 未所有变形添加过渡，完成整个变形需要0.5s */
}
.hinata{
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s;           /* 未所有变形添加过渡，完成整个变形需要0.5s */
}
.huoying:hover .naruto{
    transform: rotateY(-180deg);    /* 鼠标经过.huoying盒子时鸣人旋转180度 */
    backface-visibility: hidden;
}
.huoying:hover .hinata{
    transform: rotateY(-180deg);    /* 鼠标经过.huoying盒子时雏田也旋转180度 */
    /* z-index: 1;                     并且雏田开始出现在盒子最上层 */
}


/* 中国 */
body{
    /* perspective: 1000px; */
}
.yigezhongguo{
    height: 200px;
    width: 350px;
    margin: 100px auto;
    background: url(img/hongqi.jpg) no-repeat;
    background-size: cover;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: 5s;
}
.yigezhongguo:hover{
    transform: rotateY(360deg);
}
.yigezhongguo div{
    height: 100%;
    width: 100%;
    background: url(img/China.jfif) no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
}
.yigezhongguo div:nth-child(1){
    transform: rotateY(0deg) translateZ(400px);
    /* z-index: 1; */
}
.yigezhongguo div:nth-child(2){
    transform: rotateY(60deg) translateZ(400px);
}
.yigezhongguo div:nth-child(3){
    transform: rotateY(120deg) translateZ(400px);
}
.yigezhongguo div:nth-child(4){
    transform: rotateY(180deg) translateZ(400px);
}
.yigezhongguo div:nth-child(5){
    transform: rotateY(240deg) translateZ(400px);
}
.yigezhongguo div:nth-child(6){
    transform: rotateY(300deg) translateZ(400px);
}